.DS_store
.vscode
.git-submodule-status
*.dylib
project.xcworkspace
xcuserdata
xcshareddata
trace.c
trace.h
trace-root.c
trace-root.h

/pixman/*
/roms/*

/config-devices.*
/config-all-devices.*
/config-all-disas.*
/config-target.*
/config.status
/libcacard/trace/generated-tracers.c
*-timestamp
/*-softmmu
/*-darwin-user
/*-linux-user
/*-bsd-user
libdis*
libuser
/linux-headers/asm
/qga/qapi-generated
/qapi-generated
/qmp-marshal.c
/qemu-doc.html
/qemu-tech.html
/qemu-doc.info
/qemu-tech.info
/qemu.1
/qemu.pod
/qemu-img.1
/qemu-img.pod
/qemu-img
/qemu-nbd
/qemu-nbd.8
/qemu-nbd.pod
/qemu-options.def
/qemu-options.texi
/qemu-img-cmds.texi
/qemu-img-cmds.h
/qemu-io
/qemu-ga
/qemu-bridge-helper
/qemu-monitor.texi
/qmp-commands.txt
/vscclient
/test-bitops
/test-coroutine
/test-int128
/test-opts-visitor
/test-qmp-input-visitor
/test-qmp-output-visitor
/test-string-input-visitor
/test-string-output-visitor
/test-visitor-serialization
/fsdev/virtfs-proxy-helper
/fsdev/virtfs-proxy-helper.1
/fsdev/virtfs-proxy-helper.pod
/.gdbinit
*.a
*.aux
*.cp
*.dvi
*.exe
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
!/scripts/qemu-guest-agent/fsfreeze-hook.d
*.o
*.lo
*.la
*.pc
.libs
.sdk
*.swp
*.orig
.pc
*.gcda
*.gcno
patches
/pc-bios/bios-pq/status
/pc-bios/vgabios-pq/status
/pc-bios/optionrom/linuxboot.asm
/pc-bios/optionrom/linuxboot.bin
/pc-bios/optionrom/linuxboot.raw
/pc-bios/optionrom/linuxboot.img
/pc-bios/optionrom/multiboot.asm
/pc-bios/optionrom/multiboot.bin
/pc-bios/optionrom/multiboot.raw
/pc-bios/optionrom/multiboot.img
/pc-bios/optionrom/kvmvapic.asm
/pc-bios/optionrom/kvmvapic.bin
/pc-bios/optionrom/kvmvapic.raw
/pc-bios/optionrom/kvmvapic.img
/pc-bios/s390-ccw/s390-ccw.elf
/pc-bios/s390-ccw/s390-ccw.img
.stgit-*
cscope.*
tags
TAGS
*~
qapi/qapi-builtin-types.c
qapi/qapi-builtin-types.h
qapi/qapi-builtin-visit.c
qapi/qapi-builtin-visit.h
qapi/qapi-commands-audio.c
qapi/qapi-commands-audio.h
qapi/qapi-commands-authz.c
qapi/qapi-commands-authz.h
qapi/qapi-commands-block-core.c
qapi/qapi-commands-block-core.h
qapi/qapi-commands-block.c
qapi/qapi-commands-block.h
qapi/qapi-commands-char.c
qapi/qapi-commands-char.h
qapi/qapi-commands-common.c
qapi/qapi-commands-common.h
qapi/qapi-commands-control.c
qapi/qapi-commands-control.h
qapi/qapi-commands-crypto.c
qapi/qapi-commands-crypto.h
qapi/qapi-commands-dump.c
qapi/qapi-commands-dump.h
qapi/qapi-commands-error.c
qapi/qapi-commands-error.h
qapi/qapi-commands-introspect.c
qapi/qapi-commands-introspect.h
qapi/qapi-commands-job.c
qapi/qapi-commands-job.h
qapi/qapi-commands-machine-target.c
qapi/qapi-commands-machine-target.h
qapi/qapi-commands-machine.c
qapi/qapi-commands-machine.h
qapi/qapi-commands-migration.c
qapi/qapi-commands-migration.h
qapi/qapi-commands-misc-target.c
qapi/qapi-commands-misc-target.h
qapi/qapi-commands-misc.c
qapi/qapi-commands-misc.h
qapi/qapi-commands-net.c
qapi/qapi-commands-net.h
qapi/qapi-commands-pragma.c
qapi/qapi-commands-pragma.h
qapi/qapi-commands-qdev.c
qapi/qapi-commands-qdev.h
qapi/qapi-commands-qom.c
qapi/qapi-commands-qom.h
qapi/qapi-commands-rdma.c
qapi/qapi-commands-rdma.h
qapi/qapi-commands-rocker.c
qapi/qapi-commands-rocker.h
qapi/qapi-commands-run-state.c
qapi/qapi-commands-run-state.h
qapi/qapi-commands-sockets.c
qapi/qapi-commands-sockets.h
qapi/qapi-commands-tpm.c
qapi/qapi-commands-tpm.h
qapi/qapi-commands-trace.c
qapi/qapi-commands-trace.h
qapi/qapi-commands-transaction.c
qapi/qapi-commands-transaction.h
qapi/qapi-commands-ui.c
qapi/qapi-commands-ui.h
qapi/qapi-commands.c
qapi/qapi-commands.h
qapi/qapi-doc.texi
qapi/qapi-emit-events.c
qapi/qapi-emit-events.h
qapi/qapi-events-audio.c
qapi/qapi-events-audio.h
qapi/qapi-events-authz.c
qapi/qapi-events-authz.h
qapi/qapi-events-block-core.c
qapi/qapi-events-block-core.h
qapi/qapi-events-block.c
qapi/qapi-events-block.h
qapi/qapi-events-char.c
qapi/qapi-events-char.h
qapi/qapi-events-common.c
qapi/qapi-events-common.h
qapi/qapi-events-control.c
qapi/qapi-events-control.h
qapi/qapi-events-crypto.c
qapi/qapi-events-crypto.h
qapi/qapi-events-dump.c
qapi/qapi-events-dump.h
qapi/qapi-events-error.c
qapi/qapi-events-error.h
qapi/qapi-events-introspect.c
qapi/qapi-events-introspect.h
qapi/qapi-events-job.c
qapi/qapi-events-job.h
qapi/qapi-events-machine-target.c
qapi/qapi-events-machine-target.h
qapi/qapi-events-machine.c
qapi/qapi-events-machine.h
qapi/qapi-events-migration.c
qapi/qapi-events-migration.h
qapi/qapi-events-misc-target.c
qapi/qapi-events-misc-target.h
qapi/qapi-events-misc.c
qapi/qapi-events-misc.h
qapi/qapi-events-net.c
qapi/qapi-events-net.h
qapi/qapi-events-pragma.c
qapi/qapi-events-pragma.h
qapi/qapi-events-qdev.c
qapi/qapi-events-qdev.h
qapi/qapi-events-qom.c
qapi/qapi-events-qom.h
qapi/qapi-events-rdma.c
qapi/qapi-events-rdma.h
qapi/qapi-events-rocker.c
qapi/qapi-events-rocker.h
qapi/qapi-events-run-state.c
qapi/qapi-events-run-state.h
qapi/qapi-events-sockets.c
qapi/qapi-events-sockets.h
qapi/qapi-events-tpm.c
qapi/qapi-events-tpm.h
qapi/qapi-events-trace.c
qapi/qapi-events-trace.h
qapi/qapi-events-transaction.c
qapi/qapi-events-transaction.h
qapi/qapi-events-ui.c
qapi/qapi-events-ui.h
qapi/qapi-events.c
qapi/qapi-events.h
qapi/qapi-init-commands.c
qapi/qapi-init-commands.h
qapi/qapi-introspect.c
qapi/qapi-introspect.h
qapi/qapi-types-audio.c
qapi/qapi-types-audio.h
qapi/qapi-types-authz.c
qapi/qapi-types-authz.h
qapi/qapi-types-block-core.c
qapi/qapi-types-block-core.h
qapi/qapi-types-block.c
qapi/qapi-types-block.h
qapi/qapi-types-char.c
qapi/qapi-types-char.h
qapi/qapi-types-common.c
qapi/qapi-types-common.h
qapi/qapi-types-control.c
qapi/qapi-types-control.h
qapi/qapi-types-crypto.c
qapi/qapi-types-crypto.h
qapi/qapi-types-dump.c
qapi/qapi-types-dump.h
qapi/qapi-types-error.c
qapi/qapi-types-error.h
qapi/qapi-types-introspect.c
qapi/qapi-types-introspect.h
qapi/qapi-types-job.c
qapi/qapi-types-job.h
qapi/qapi-types-machine-target.c
qapi/qapi-types-machine-target.h
qapi/qapi-types-machine.c
qapi/qapi-types-machine.h
qapi/qapi-types-migration.c
qapi/qapi-types-migration.h
qapi/qapi-types-misc-target.c
qapi/qapi-types-misc-target.h
qapi/qapi-types-misc.c
qapi/qapi-types-misc.h
qapi/qapi-types-net.c
qapi/qapi-types-net.h
qapi/qapi-types-pragma.c
qapi/qapi-types-pragma.h
qapi/qapi-types-qdev.c
qapi/qapi-types-qdev.h
qapi/qapi-types-qom.c
qapi/qapi-types-qom.h
qapi/qapi-types-rdma.c
qapi/qapi-types-rdma.h
qapi/qapi-types-rocker.c
qapi/qapi-types-rocker.h
qapi/qapi-types-run-state.c
qapi/qapi-types-run-state.h
qapi/qapi-types-sockets.c
qapi/qapi-types-sockets.h
qapi/qapi-types-tpm.c
qapi/qapi-types-tpm.h
qapi/qapi-types-trace.c
qapi/qapi-types-trace.h
qapi/qapi-types-transaction.c
qapi/qapi-types-transaction.h
qapi/qapi-types-ui.c
qapi/qapi-types-ui.h
qapi/qapi-types.c
qapi/qapi-types.h
qapi/qapi-visit-audio.c
qapi/qapi-visit-audio.h
qapi/qapi-visit-authz.c
qapi/qapi-visit-authz.h
qapi/qapi-visit-block-core.c
qapi/qapi-visit-block-core.h
qapi/qapi-visit-block.c
qapi/qapi-visit-block.h
qapi/qapi-visit-char.c
qapi/qapi-visit-char.h
qapi/qapi-visit-common.c
qapi/qapi-visit-common.h
qapi/qapi-visit-control.c
qapi/qapi-visit-control.h
qapi/qapi-visit-crypto.c
qapi/qapi-visit-crypto.h
qapi/qapi-visit-dump.c
qapi/qapi-visit-dump.h
qapi/qapi-visit-error.c
qapi/qapi-visit-error.h
qapi/qapi-visit-introspect.c
qapi/qapi-visit-introspect.h
qapi/qapi-visit-job.c
qapi/qapi-visit-job.h
qapi/qapi-visit-machine-target.c
qapi/qapi-visit-machine-target.h
qapi/qapi-visit-machine.c
qapi/qapi-visit-machine.h
qapi/qapi-visit-migration.c
qapi/qapi-visit-migration.h
qapi/qapi-visit-misc-target.c
qapi/qapi-visit-misc-target.h
qapi/qapi-visit-misc.c
qapi/qapi-visit-misc.h
qapi/qapi-visit-net.c
qapi/qapi-visit-net.h
qapi/qapi-visit-pragma.c
qapi/qapi-visit-pragma.h
qapi/qapi-visit-qdev.c
qapi/qapi-visit-qdev.h
qapi/qapi-visit-qom.c
qapi/qapi-visit-qom.h
qapi/qapi-visit-rdma.c
qapi/qapi-visit-rdma.h
qapi/qapi-visit-rocker.c
qapi/qapi-visit-rocker.h
qapi/qapi-visit-run-state.c
qapi/qapi-visit-run-state.h
qapi/qapi-visit-sockets.c
qapi/qapi-visit-sockets.h
qapi/qapi-visit-tpm.c
qapi/qapi-visit-tpm.h
qapi/qapi-visit-trace.c
qapi/qapi-visit-trace.h
qapi/qapi-visit-transaction.c
qapi/qapi-visit-transaction.h
qapi/qapi-visit-ui.c
qapi/qapi-visit-ui.h
qapi/qapi-visit.c
qapi/qapi-visit.h
config-host.h
config-host.mak
module_block.h
qemu-version.h
trace-events-all
storage-daemon/qapi/qapi-commands.c
storage-daemon/qapi/qapi-commands.h
storage-daemon/qapi/qapi-doc.texi
storage-daemon/qapi/qapi-emit-events.c
storage-daemon/qapi/qapi-emit-events.h
storage-daemon/qapi/qapi-events.c
storage-daemon/qapi/qapi-events.h
storage-daemon/qapi/qapi-init-commands.c
storage-daemon/qapi/qapi-init-commands.h
storage-daemon/qapi/qapi-introspect.c
storage-daemon/qapi/qapi-introspect.h
storage-daemon/qapi/qapi-types.c
storage-daemon/qapi/qapi-types.h
storage-daemon/qapi/qapi-visit.c
storage-daemon/qapi/qapi-visit.h
trace/generated-helpers-wrappers.h
trace/generated-helpers.c
trace/generated-helpers.h
trace/generated-tcg-tracers.h
trace/generated-helpers-wrappers.h
trace/generated-helpers.c
trace/generated-helpers.h
trace/generated-tcg-tracers.h
